@charset "UTF-8";

html {
  font-size: 100%
}

body {
  margin: 0;
  padding:0;
}

/* headerを含む画面上部の領域を固定 */
.fixed-area {
  box-sizing: border-box;
  position: fixed;
  top:0;
  left:50%;
  transform: translateX(-50%);
  background: #fff;
  width: 100%;
  padding: 0 4%;
}  

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
}

h1 {
  font-size: 2rem;
}

/* nav {
  width:60%;
} */

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

nav li {
  padding-left: 8px;
}

.contents-wrapper {
  /* 上部に余白を作り、固定されたヘッダーに隠れないようにする */
  padding: 100px 4% 0;
}


.aos-js-sample  {
  /* スクロール後に現れるように調整 */
  margin-top: 500px;
}

.aos-js-sample-list {
  list-style: none;
}

.aos-js-sample-item {
  display: flex;
  padding-bottom: 16px;
}

.aos-sample-box {
  width: 100px;
  height: 100px;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  line-height: 100px;
}

.aos-js-sample-desc {
  margin-left: 16px;
}

.aos-sample-box01 {
  background: hsl( 30, 60%, 60%);
}

.aos-sample-box02 {
  background: hsl( 60, 60%, 60%);
}

.aos-sample-box03 {
  background: hsl( 90, 60%, 60%);
}

/* #reference ************************************* */
#reference {
  min-height: calc( 100vw - 100px );
}

/* **********
index.html
********** */

/* index.html終わり */


/* **********
aos-js03.html
********** */

.aos-js03-section-wrapper h2 {
  margin-top: 16px;
}

.big-bg {
  background-size: cover;
  background-position: center bottom;
  background-image: url(../img/main-visual.jpg);
  min-height: 80vh;
}

.aos-js03-wrapper {
  width: 80%;
  margin: 0 auto;
}

.aos-js03-wrapper p {
  margin: 0;
  padding: 32px;
  /* background: #ccc; */
}

/* .aos-js03-header ***** */
.first-header {
  color: #fff;
  width: 100%;
}

.cb-header {
  background: #000;
  width: 100%;
  position: fixed; 
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  opacity: .7;
  z-index: 1;
}

.aos-js03-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aos-js03-header ul {
  list-style: none;
  display: flex;
}

.aos-js03-header nav li {
  margin-left: 16px;
}


.aos-js03-header a {
  text-decoration: none;
  color: #fff;
}

.site-desc {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  width: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 16px;
  text-align: center;
}

.site-desc h2 {
  font-size: 2rem;
}

.aos-js03-section-wrapper {
  padding-top: 80px;
}

.fade-up-wrapper {
  background-color: #ccc;
}

/* aos-js03.html終わり */

/* **********
aos-js04.html
********** */

.aos-js04-main-visual {
  height: 100vh;
  background-size: cover;
  background-position: center bottom;
}

.aos-js04-header {
  /* background: skyblue; */
  width: 100%;
  padding: 0 4%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  box-sizing: border-box;
}

.aos-js04-header h1 a {
  text-decoration: none;
  color: #fff;
}

.aos-js04-header nav a {
  text-decoration: none;
  background: #fff;
  color: #333;
  padding: 4px;
}

.site-desc02 {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  width: 50%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 16px;
  text-align: center;
}

.shells h2 {
  text-align: center;
}

.shells-wrapper {
  display: flex;
  margin-bottom: 64px;
}

#s01 > div:nth-child(odd) {
  flex-direction: row-reverse;
}

.shells-wrapper .desc {
  padding: 32px;
}
.shell-img-wrapper {
  /* background: #ccc; */
  background: tomato;
  /* 背景画像が画像からはみ出さないようにする */
  height: fit-content; 
}

.shell-img-wrapper img {
  width: 300px;
  height: 300px;
  object-fit:cover;
  vertical-align: middle;
}



/* aos-js04.html終わり */